<main>
    <div class="content">
        <div class="heading">
            <h2><span></span> BLOG</h2>
            <h1> Explore Marketing Tips</h1>
        </div>
        <div class="arrow">
            <span>&rarr;</span>
        </div>
    </div>
    <div class="boxes">
        <div class="box">
            <div class="img-box" [style]="{background: 'url(assets/1.png)'}">
                <div class="img-box-content">
                    <div class="content-img-item">
                        <img [src]="'assets/p1.png'" alt="person" />
                    </div>
                    <div class="content-img-names">
                        <h1>John doe</h1>
                        <p>Head of Marketing</p>
                    </div>
                </div>
            </div>
            <div class="content-box">
                <h2>Tips for a good Pitching Presentation</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
            </div>
        </div>
        <div class="box">
            <div class="img-box" [style]="{background: 'url(assets/2.png)'}">
                <div class="img-box-content">
                    <div class="content-img-item">
                        <img [src]="'assets/p2.png'" alt="person" />
                    </div>
                    <div class="content-img-names">
                        <h1>Jane Maria</h1>
                        <p>Designer</p>
                    </div>
                </div>
            </div>
            <div class="content-box">
                <h2>Improve Your Content’s Traffic</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>
            </div>
        </div>
        <div class="box">
            <div class="img-box" [style]="{background: 'url(assets/3.png)'}">
                <div class="img-box-content">
                    <div class="content-img-item">
                        <img [src]="'assets/p3.png'" alt="person" />
                    </div>
                    <div class="content-img-names">
                        <h1>Jack Dorsey</h1>
                        <p>Head of Marketing</p>
                    </div>
                </div>
            </div>
            <div class="content-box">
                <h2>Reaching Deal with your Clients</h2>
                <p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia."</p>
            </div>
        </div>
    </div>
</main>
