@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;

    &:hover {
        color: #4099F1;
    }
}

.disable-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

::-webkit-scrollbar {
	width: 4px;
}
::-webkit-scrollbar-track {
	background: #fff;
}
::-webkit-scrollbar-thumb {
	background: rgb(201, 201, 201);
}
::-webkit-scrollbar-thumb:hover {
	background: rgb(161, 161, 161);
}